/*****************************************************************/

.centerize {
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.red {
  color: red;
}

.floatButton {
  position: absolute;
  top: 1em;
  right: 1em;
}

.clearFloat {
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.column {
  left: 0;
  top: 0;
}

/*****************************************************************/

#wrapper {
  position: fixed;
  width: 350px;
  background-color: #ded;
  border-bottom-right-radius: 1em;
}

#wrapper h1 {
  font-size: 120%;
  margin: 0.5em auto;
}

#wrapper h2 {
  font-size: 100%;
  margin: 1em auto 0.5em;
}

#wrapper h3 {
  font-size: 90%;
  margin: 0.8em auto 0.3em;
}

#instruction, #acceptHITWarning, #answerForm, #footer, #navbar {
  margin: 0.8em;
}

#acceptHITWarning {
  padding: 0.8em;
  text-align: center;
  color: #d22;
  background-color: #cdc;
  font-weight: bold;
}

#instruction {
  height: 1.2em;
}

#showingInstruction {
  font-size: 90%;
  line-height: 1.3;
  padding: 0.2em 1em;
  width: 650px;
  position: absolute;
  margin-left: 100px;
  border-radius: 1em;
  background-color: #ded;
  border: 2px solid #bcb;
}

#showingInstruction p {
  margin: 0.5em 0;
}

#showingInstruction ul, #showingInstruction ol {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding-left: 1.5em;
}

#showingInstruction li {
  margin-bottom: 0.5em;
  padding-left: 0.5em;
}

#showingInstruction table th {
  min-width: 5em;
  text-align: right;
  padding-right: 0.5em;
}

#showingInstruction .example {
  margin: 0 auto;
}

#showingInstruction .example img {
  float: left;
  margin-right: 2em;
}

#showingInstruction kbd {
  border: 1px solid #aaa;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.2em 0.2em #ddd;
  background-color: #f9f9f9;
  padding: 0 0.5em;
  font-family: inherit;
  font-size: 0.9em;
}

#showingInstruction .button {
  border: 1px solid gray;
  border-radius: 0.2em;
  border-style: outset;
  background-color: #DDD;
  padding: 0 0.5em;
  white-space: nowrap;
  font-size: 0.9em;
}

#showingInstruction .red {
  color: #C00;
}

#qNum {
  margin: 0 0.5em;
}

#navbar button {
  width: 7em;
  height: 2.5em;
}

#navbar button:disabled {
  color: #aaa;
}

#answerForm h2 {
  margin: 0 auto 0.5em;
}

#answerForm .answerRow {
  margin: 0;
}

#answerForm .answerRow span.numbering {
  display: inline-block;
  width: 0.8em;
  text-align: right;
  margin: 0 10px;
}

#answerForm .answerRow span.view-answer {

}

#answerForm .answerRow input[type="text"] {
  font-size: 120%;
  width: 85%;
}

#answerForm .answerRow textarea {
  box-sizing: border-box;
  width: 100%;
}

#answerForm .buttonRow {
  margin: 0;
  text-align: right;
}

#answerForm .selectElementButton {
  height: 2.5em;
}

/*****************************************************************/

#webpageWrapper {
  position: absolute;
  margin: 0 0 0 350px;
  padding: 0;
  width: calc(100% - 350px);
  height: 100%;
}

#webpage {
  width: 100%;
  height: 99%;
  border: none;
}
