#wrapper {
  /*max-height: 100%;
  overflow-y: scroll;*/
  display: flex;
  flex-direction: column;
  height: 100%;
}

#questionWrapper {
  margin: 0.8em;
  overflow: auto;
}

.question {
  padding: 0.5em 0.8em;
  border: 1px solid gray;
}

.question.focused {
  background-color: #ffe;
}

#wrapper h2, #wrapper p {
  margin: 0.5em 0;
}

#wrapper p.special {
  margin: 0;
  padding: 0.3em;
  font-size: 80%;
  border: 1px solid gray;
  display: inline-block;
}

#wrapper p.special.focused {
  background-color: #aff;
}

#infobox {
  padding: 1em;
  background-color: #fef;
}
/*
#infobox.top {
  position: fixed;
  left: 350px;
  top: 0;
}
#infobox.bottom {
  position: fixed;
  right: 0;
  bottom: 0;
}
*/
#infobox.hidden {
  display: none;
}
