#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#questionWrapper {
  margin: 0.8em;
  overflow: auto;
}

.question {
  padding: 0.5em 0.8em;
  border: 1px solid gray;
}

.question.focused {
  background-color: #ffe;
}

#wrapper h2, #wrapper p {
  margin: 0.5em 0;
}

#wrapper p.special {
  margin: 0;
  padding: 0.3em;
  font-size: 80%;
  border: 1px solid gray;
  display: inline-block;
}

#wrapper p.special.focused {
  background-color: #aff;
}

#wrapper .question button {
  padding: 5px 8px;
  font-size: 90%;
  margin: 3px;
  background-color: #EEE;
}
#wrapper .question button.chosen {
  background-color: yellow;
}

#acceptHITWarning {
  margin: 2px 5px;
}
#answerForm {
  max-height: 800px;
  overflow-y: scroll;
  margin: 5px;
}
#answerForm h2 {
  display: none;
}
